tensorflowjs
kaggle==1.6.14
tensorflow-datasets==4.9.6
roboflow
keras-tuner
pandas==2.0.3
numpy==1.25.2
seaborn==0.13.1
matplotlib==3.7.1
scikit-learn==1.2.2
tensorflow==2.15.0
keras==2.15.0
Pillow==9.4.0
